<p id="notice"><%= notice %></p>

<div class="card text-center mx-auto" style="width: 40rem;">
  <div class="card-header">
    <br/>
    <h5 class="card-title" style='font-size: xx-large;'><%= @friend.first_name %> <%= @friend.last_name %></h5>
    <div class="card-body">
      <p class="card-text"><%= @friend.email%></p>
      <p class="card-text"><%= @friend.phone%></p>
      <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %>
      <%= link_to 'Back', friends_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>